<header id="header" class="black-grad">

  <div id="header-design">
      <div class="left-design"></div>
  </div>

  <div class="wrapper">
    
    <h1 id="logo">Smackley Cup 2013</h1>
    
    <div id="scoreboard">
      <div id="chicago-side">
        <h2><span><em>Leo Burnett</em>Chicago</span></h2>
      </div>
      <div id="boston-side">
        <h2><span><em>Arnold</em>Boston</span></h2>
      </div>
    </div>
    
    <div id="tweetboard">
      <div id="chicago-count">
        <h3>#smacktalkchicago</h3>
        <div class="board scoreboard-grad">
          <span class="score">0</span>
        </div>
      </div>
      
      <div id="boston-count">
        <h3>#smacktalkboston</h3>
        <div class="board scoreboard-grad">
          <span class="score">0</span>
        </div>
      </div>

    </div>

  </div>
</header>

<section id="main">

    <div id="main-copy">
      <p>With Chicago and Boston facing off in the Stanley Cup Finals, Leo Burnett Chicago and Arnold Boston are facing off in a little not-so-friendly competition of their own.</p>

<p>To take part, talk trash at the opposing city on Twitter and add one of the following hashtags: #SmackTalkChicago or #SmackTalkBoston.</p>

 <p>With each ice cold Tweet (Pun Intended! And forced!), a dollar will go to charity. At the end of the series, a winner will be crowned and a loser will face mildly embarrassing consequences. Let the ruthless insulting for a good cause begin!</p>
    </div>

    <div id="ice">
    </div>

<!--     <div id="main-ice"></div>
    <div id="center-ice"></div> -->

</section>

<footer id="footer" class="black-grad">
  <div class="wrapper">
    <a id="leo-link" href="http://leoburnett.com/" target="_blank">Leo Burnett</a>
    <a id="arnold-link" href="http://arn.com/" target="_blank">Arnold</a>
  </div>
</footer>

<!--
<div id="overlay">
    <div class="successMessage">
        <h3>Thanks for submitting!</h3>
        <p>This has to be run by four lawyers and three creative directors first. Hopefully, it’ll be on the site soon.</p>
    </div> --><!-- end: div.successMessage -->
<!--</div> --><!-- end: div.overlay -->

		
<div id='fb-root'></div>
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">

    FB.init({ appId: '463570883720030', status: true, cookie: true });

</script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	BE.Frontend.trashTalk.init();
});
</script>